html{
  height: 100%;
}
body {
  margin: 0;
    width: 100%;
    background: #212121;
    font-family: "Montserrat", Helvetica, sans-serif;
  }
  img{
    width: 800px;
    margin: 25px;

  }
  .header{
    text-align: center;
    font-size: 22px;
    color: white;
  }
  .header h1{
    font-size: 60px;
  }
  .intro{
    text-align: center;
    font-size: 22px;
    color: white;
  }
  .whatitdo{
    text-align: center;
    color: white;
    font-size: 22px;
  }
  .agency-side{
    text-align: center;
    font-size: 22px;
    color: white;
  }
  .ending{
    text-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 100px;
  }
  .whatitdo h2, .agency-side h2{
    font-size: 36px;
    margin-top: 60px;
  }
  .ending a{
    text-decoration: none;
    color: #5b8291;
  }
  .intro a{
    text-decoration: none;
    color: #5b8291;
  }
  @media (max-width:780px){
         
    img{
       width: 450px ;
       
    }
}
@media (max-width:660px){
         
  img{
     width: 400px ;
     
  }
}