@import url('https://fonts.googleapis.com/css?family=Open Sans:400,700|Montserrat');

body {
    background: #212121;
     width: 100%;
     margin: 0;
}

p{
  color: lightgray;
  font-size: 22px;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  cursor: default;
}
.container {
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
    /* margin: 2% auto;
      
      justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
      
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;*/
      max-width: 100%; 
     
     
  }
.left{
   display: flex;
   flex-direction: column;
  
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}


img {
   width: 280px;
    
}



 .box {
    margin: 10px 20px 0px 70px;
    /* border: white solid 2px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    will-change: transform;
    transform: skew(.170rad);
   z-index: 999;
} 

.box:hover .cover {
    -webkit-transform: translateY(-14px) scale(1.04);
            transform: translateY(-14px) scale(1.04);
}

 .box p{
  transition: 400ms ease-in-out;
  transform: scale(1);
 }


.box:hover p {
  transition: 400ms ease-in-out;
 transform: scale(1.2);
}


.cover {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    will-change: transform;
   
}

.cover img {
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
}

 .box .cover::after {
    content: "";
    z-index: -99;
    position: absolute;
    top: 90px;
    left: 50px;
    display: block;
    width: 138px;
    height: 138px;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160px 214px;
    /* -webkit-filter: blur(6x);
            filter: blur(6px); */
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
    will-change: transform;
    -webkit-transform: scale(.6);
            transform: scale(.6);
 }

.box:hover .cover::after {
    opacity: 1;
    -webkit-transform: scale(2);
            transform: scale(2);
}

.box-1 .cover::after {
    background-color: #2e424d;
}

.box-2 .cover::after {
    background-color: #2e424d;
}

.box-3 .cover::after {
    background-color: #2e424d;
    /* background-image: url(''); */
} 
.box-4 .cover::after {
    background-color: #2e424d;
    /* background-image: url(''); */
} 





/* @media (min-width:480px){
        
.box{
    transform: skew(.300rad);
} */

@media (max-width:480px){
     
     .box{
        transform:none ;
        z-index: 0;
     }
     .container{
        flex-direction: column;
        
     }
     .box{
        margin-left: 0;
     }
    
    
    
  }


