body{
margin: 0;
background: #212121; ;

}
:root{
  --left-bg-color: rgba(46, 66, 77, 0.6);
  --right-bg-color: rgba(46, 66, 77, 0.8);
  --left-btn-hover-color: rgba(91, 130, 145, 1);
  --right-btn-hover-color: rgba(46, 66, 77, 1);
  --hover-width:65%;
  --minimize-width:35%;
  --transition-speed:0.6s;}
  .split{
    width: 100%;
    height: 50%;
    position: absolute;
  }

.split.left{
  top: 0;
  left: 0;
  background: url("../images/ve.jpeg")
    no-repeat center / cover;
}
.split.left:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}
.split.right{
  top: 50%;
  left: 0;
  background: url("../images/test.png")
    no-repeat center / cover;
  
}
.split.right:before{
 content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}
h1{
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 3rem;
  color: #fff;
  position: absolute;
  left:50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
  
}
.btn1{
  /* display: flex;
  justify-content: center;
  margin-top: 50px; */
  margin: auto;
  margin-top: 70%;
  width: 50%;
  background-color: #212121;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}
 a {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  outline: 0;
}
